.boton {
    inline-size: 150px;
    background-color: $color-principal;
    color: white;
    border-radius: 2px;
    border: 0;
    position: absolute;
    left: 24%;

    &:hover {
        cursor: pointer;
    }
}

.main .main-formularioPago--envio {
    position: unset;
    // inline-size: 200px;
    padding: 10px;
}

@media (min-width: $break-point-tablet) {
    .boton {
        left: 30%;
    }
}