.main {
    inline-size: 95vw;
    block-size: 100%;
    margin: 40px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    &--category span {
        color: $color-principal;
    }

    &-card {
        inline-size: auto;
        height: auto;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin: 20px;

        &--info {
            display: flex;
            flex-direction: column;
            align-items: center;
            font-size: 1.6rem;

            span {
                color: gray;
                font-size: 1.2rem;
            }
        }

        &--image {
            inline-size: 200px;
            border: .5px solid gray;
        }

        &--add {
            inline-size: 150px;
            background-color: $color-principal;
            color: white;
            border-radius: 2px;
            text-align: center;
            padding: 5px;
        }
    }

    & .carrito-cursos .lista-carrito {
        position: relative;
    }

    &-formularioPago {
        z-index: 9;
        inline-size: 200px;
        background-color: lightgrey;
        padding: 20px;
    }
}


@media (min-width: $break-point-tablet) {
    .main {

        & .cuenta-cursos {
            font-size: 1.8rem;
        }

        &-card {
            &--info {
                font-size: 1.8rem;

                & span {
                    font-size: 1.5rem;
                }
            }
        }

        &--category {
            font-size: 2rem;
        }
    }
}