html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', 'Sans-serif';
}

a{
    text-decoration: none;
    color: black
}

.success {
    background-color: lightgreen;
    color: white;

    & p {
        font-size: 1.6rem;
    }
}

.error {
    background-color: lightcoral;
    color: white
}